
.button-right {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-right:nth-child(2) span {
    right: -1px;
}

.button-right span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -30px;
    right: -10px;
    color: #fff;
    font-size: 0.55rem;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #eb3349;
}
